* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.bg {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  text-align: center;
  padding: 10px;
  min-height: 100vh;
}

